#user-rollover.id-25556628 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://rcs.radiant.dj/img/plugdj/badges/bdg-beachb-e02.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
#chat-messages .fromID-25556628 .badge-box i,
#chat-messages .id-25556628 .badge-box i {
    background-image: url("https://rcs.radiant.dj/img/plugdj/badges/bdg-beachb-e02.gif");
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

#user-rollover.id-31630466 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://i.pinimg.com/originals/50/53/b2/5053b26e27380d99269ddb48eeab5f27.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
#chat-messages .fromID-31630466 .badge-box i,
#chat-messages .id-25556628 .badge-box i {
    background-image: url("https://i.pinimg.com/originals/50/53/b2/5053b26e27380d99269ddb48eeab5f27.jpg");
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}
