#user-rollover.id-25556628 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://rcs.radiant.dj/img/plugdj/badges/bdg-beachb-e01.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
#chat-messages .fromID-25556628 .badge-box i,
#chat-messages .id-25556628 .badge-box i {
    background-image: url("https://rcs.radiant.dj/img/plugdj/badges/bdg-beachb-e01.gif");
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}
/* KIA FROSTT */
#chat [data-cid^="25556628-"] span.un.clickable {
    color: rgba(190, 145, 19, 1) !important;}
#chat [data-cid^="25556628-"].emote {
    background: rgba(196, 152, 64, 0.2) !important;
    border-left: rgb(197, 152, 64) 3px solid !important; }
#chat [data-cid^="25556628-"].emote .timestamp {
    color: #A993C7 !important;}
#chat [data-cid^="25556628-"].emote .text {
    color: #f7f7f7 !important;}
#chat [data-cid^="25556628-"] .icon,
#chat .id-5394376 .icon {
    display:none !important;}
